@import url('main.css');

body{
    grid-template: 
        "header header" var(--header-size)
        "image hocr" 1fr / 5fr 3fr;
}

#zoom div, .nav-link {
    width: 2.1rem;
    height: 2.1rem;
    background: var(--background-color-strong);
    line-height: 2.1rem;
    text-align: center;
    border-radius: 2.1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    transition: 0.2s;
}

#layout-container{
    grid-area: image;
}
#editor-container{
    grid-area: hocr;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-color-strong);
    transform: translateY(100%);
    transition: 0.35s;
}
footer ul{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: auto;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -1vh;
    height: 1vh;
    background: var(--background-color-strong);
    box-shadow: 0 -2px 6px rgb(0 0 0 / 35%);

}

footer:hover{
    transform: translateY(0%);
}

footer li {
    display: inline-block;
}

footer a img, footer a span {
    display: block;
    color: var(--text-color);
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

footer a.active {
    background: var(--background-color);
    cursor: default;
}

footer a:hover {
    background: var(--background-color);
    transition: 0.2s;
}

footer a {
    display: inline-block;
    padding: 1em;
    transition: 0.2s;
}
footer img {
    height: var(--footer-size);
}


/*
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: pink;
    white-space: nowrap;
}

footer a{
    height: 100%;
    width: 150px;
    display: inline;
}
/*
header {
}

main {
    display: flex;
    margin: 0.5vh;
    flex: 1;
}

section {
    flex-basis: 45%;
    height: 100%;
    overflow: hidden !important;
    flex-grow: 1;
    margin: 0.5vh;
}


img {
    height: 80px;
}

span {
    display: block;
}

footer {
    display: none;
    position: fixed;
    bottom: -110px;
    left: 0;
    right: 0;
    background: var(--background-color-strong);
    height: 120px;
    transition: 0.2s;
    overflow-x: auto;
    white-space: nowrap;
}

footer:hover {
    transform: translate(0,-100px);
}


#next {
    right: 0;
}
#previous {
    left: 0;
}
.nav-link {
    position: fixed;
    top: 50%;
    width: 35px;
    height: 70px;
    line-height: 70px;
    background: var(--background-color-strong);
    text-align: center;
    color: var(--text-color);
    font-weight: bold;}

.zoom{
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    margin: 4.5vh;
}

.zoom div {
    width: 25px;
    height: 25px;
    margin: 3px;
    text-align: center;
    background: var(--background-color-strong);
    line-height: 25px;
    border-radius: 5px;
}


.disabled{
    pointer-events: none;
}

footer a {
    display: inline-block;
    padding: 0.3em 0.7em;
    margin: 0.2em;
    text-align: center;
    width: 120px;
}
*/


header > div {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
}

div#left {
    justify-content: flex-start;
}

div#center {
    justify-content: center;
}

.nav-link.disabled{
    color: var(--background-color);
}
.nav-link.disabled:hover {
    background: var(--background-color-strong);
    cursor: default;
}
span.nav-link.disabled{
    color: var(--text-color);
}

header #left span {padding-left: 2em;}

#zoom > div:hover, .nav-link:hover {
    background: var(--background-color);
    transition: 0.2s;
}

a {
    text-decoration: none;
}